# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django


# Collected static files
/staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node
node_modules/
.vite/
!static/build/.vite/

# Local Documentation Scripts
generate_docs.py
*.docx

