:root {
  /* Fonts */
  --font-sans: "Arad", sans-serif;

  /* Radius */
  --radius: 16px;

  /* Colors */
  --background: #f8fafc;
  --foreground: #111827;

  --surface: #ffffff;
  --card: #ffffff;

  --primary: #eab308;
  --primary-foreground: #ffffff;

  --muted: #f1f5f9;
  --border: #e2e8f0;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;

  --primary: #eab308;
  --primary-foreground: #ffffff;

  --surface: #1e293b;
  --card: #111827;

  --muted: #1e293b;
  --border: #334155;
}
