{% load static %}
{% load vite %}
<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}King Movie{% endblock %}</title>
    {% vite_css "frontend/js/app.js" as css_file %}

    {% if css_file %}
    <link rel="stylesheet" href="{% static css_file %}">
    {% endif %}
  </head>
  <body>
    {% block layout %}{% endblock %}
    <script
    type="module"
    src="{% static vite_asset 'frontend/js/app.js' %}">
</script>
  </body>
</html>
